<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2"
        md-component-id="left">

    <md-list>
        <!-- List item #1 -->
        <md-item ng-repeat="it in ul.users">
            <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                <md-icon md-svg-src="{{ it.avatar }}" class="avatar"></md-icon>
                <!--./svg/avatar-1.svg-->
                {{ it.name }}
            </md-button>
        </md-item>
    </md-list>
</md-sidenav>

<md-content flex id="content">
    <!-- User details sample -->

    <md-icon md-svg-src="{{ul.selected.avatar}}" class="avatar"></md-icon>
    <h2>{{ ul.selected.name }}</h2>
    <p>
        {{ ul.selected.content }}
    </p>
    <md-button class="share" md-no-ink ng-click="ul.share($event)"
               aria-label="Share">
        <md-icon md-svg-icon="share"></md-icon>
    </md-button>
</md-content>